

<html>
    {% load static %}
    
<head>
<link rel="stylesheet" href="{% static 'css/todo_weekly.css' %}">
</head>
    
<body>
    <div class="container1">
        <ul>
            WEEK
            -LY
            TODO
            LIST
        </ul>
    </div>
    <div class="container2">
    <div class="first">
        <div class="c1"><img src = "{% static '기하유기_01.jpg' %}" alt="pattern"></div>
        <div class="c2"><a href="todos/week">MON TO FRI</a></div>
        <div class="c3"><img src = "{% static '기하유기_01.jpg' %}" alt="pattern"></div>
    </div>
    <div class="second">
        <div class="c4"><img src = "{% static '기하유기_03.jpg' %}" alt="pattern"></div>
        <div class="c5"><img src = "{% static '기하유기_04.jpg' %}" alt="pattern"></div>
        <div class="c6"><a href="todos/weekend">SAT AND SUN</a></div>
    </div>
    <div class="third">
        <div class="c7"><a href="https://www.instagram.com/_292c/">COPYRIGHT 2020.
            +82JOOHYEKIM
            ALL RIGHTS RESERVED
            @_292c
        </a></div>
        <div class="c8"><img src = "{% static '기하유기_02.jpg' %}" alt="pattern"></div>
        <div class="c9"><img src = "{% static '기하유기_01.jpg' %}" alt="pattern"></div>
    </div>
    </div>



</body>


<footer>
</footer>
    
    
</html>