

<html>
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/todo_home.css' %}">
</head>

<body>

    <div class="c1">
        <ul class="c1_2020">
        <ul class="c1_2020_1">20</ul>
        <ul class="c1_2020_2">20</ul>
        </ul>
        <ul class="c1_checklist">
            <ul class="c1_checklist_todo">
            TO-
            DO</ul>
            LIST:</ul>
        <ul class="me">+82JOOHYEKIM
            1997.01.06 @_292c</ul>
    </div>

    <div class="c2">
        <div class="c2_1">
            <p class="c2_1_m">1</p>
            <div class="c2_1_d">
            <a href="#" style="color: #b5b5b5;">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#" style="color: #b5b5b5;">5</a>
            <a href="#">6</a>
            <a href="#">7</a>
            <a href="#">8</a>
            <a href="#">9</a>
            <a href="#">10</a>
            <a href="#">11</a>
            <a href="#"style="color: #b5b5b5;">12</a>
            <a href="#">13</a>
            <a href="#">14</a>
            <a href="#">15</a>
            <a href="#">16</a>
            <a href="#">17</a>
            <a href="#">18</a>
            <a href="#"style="color: #b5b5b5;">19</a>
            <a href="#">20</a>
            <a href="#">21</a>
            <a href="#">22</a>
            <a href="#">23</a>
            <a href="#"style="color: #b5b5b5;">24</a>
            <a href="#"style="color: #b5b5b5;">25</a>
            <a href="#"style="color: #b5b5b5;">26</a>
            <a href="#"style="color: #b5b5b5;">27</a>
            <a href="#">28</a>
            <a href="#">29</a>
            <a href="#">30</a>
            <a href="#">31</a>
            </div>
        </div>

        <div class="c2_2">
            <p class="c2_2_m">2</p>
            <div class="c2_2_d">
                <a href="#">1</a>
                <a href="#"style="color: #b5b5b5;">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">7</a>
                <a href="#">8</a>
                <a href="#"style="color: #b5b5b5;">9</a>
                <a href="#">10</a>
                <a href="#">11</a>
                <a href="#">12</a>
                <a href="#">13</a>
                <a href="#">14</a>
                <a href="#">15</a>
                <a href="#"style="color: #b5b5b5;">16</a>
                <a href="#">17</a>
                <a href="#">18</a>
                <a href="#">19</a>
                <a href="#">20</a>
                <a href="#">21</a>
                <a href="#">22</a>
                <a href="#"style="color: #b5b5b5;">23</a>
                <a href="#">24</a>
                <a href="#">25</a>
                <a href="#">26</a>
                <a href="#">27</a>
                <a href="#">28</a>
                <a href="#">29</a>
                </div>
        </div>

        <div class="c2_3">
            <p class="c2_3_m">3</p>
            <div class="c2_3_d">
                <a href="#" style="color: #b5b5b5;">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">7</a>
                <a href="#" style="color: #b5b5b5;">8</a>
                <a href="#">9</a>
                <a href="#">10</a>
                <a href="#">11</a>
                <a href="#">12</a>
                <a href="#">13</a>
                <a href="#">14</a>
                <a href="#" style="color: #b5b5b5;">15</a>
                <a href="#">16</a>
                <a href="#">17</a>
                <a href="#">18</a>
                <a href="#">19</a>
                <a href="#">20</a>
                <a href="#">21</a>
                <a href="#" style="color: #b5b5b5;">22</a>
                <a href="#">23</a>
                <a href="#">24</a>
                <a href="#">25</a>
                <a href="#">26</a>
                <a href="#">27</a>
                <a href="#">28</a>
                <a href="#" style="color: #b5b5b5;">29</a>
                <a href="#">30</a>
                <a href="#">31</a>
                </div>
        </div>

        <div class="c2_4">
            <p class="c2_4_m">4</p>
            <div class="c2_4_d">
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#" style="color: #b5b5b5;">5</a>
                <a href="#">6</a>
                <a href="#">7</a>
                <a href="#">8</a>
                <a href="#">9</a>
                <a href="#">10</a>
                <a href="#">11</a>
                <a href="#" style="color: #b5b5b5;">12</a>
                <a href="#">13</a>
                <a href="#">14</a>
                <a href="#" style="color: #b5b5b5;">15</a>
                <a href="#">16</a>
                <a href="#">17</a>
                <a href="#">18</a>
                <a href="#" style="color: #b5b5b5;">19</a>
                <a href="#">20</a>
                <a href="#">21</a>
                <a href="#">22</a>
                <a href="#">23</a>
                <a href="#">24</a>
                <a href="#">25</a>
                <a href="#" style="color: #b5b5b5;">26</a>
                <a href="#">27</a>
                <a href="#">28</a>
                <a href="#">29</a>
                <a href="#" style="color: #b5b5b5;">30</a>
                </div>
        </div>

        <div class="c2_5">
            <p class="c2_5_m">5</p>
            <div class="c2_5_d">
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#" style="color: #b5b5b5;">3</a>
                <a href="#">4</a>
                <a href="#" style="color: #b5b5b5;">5</a>
                <a href="#">6</a>
                <a href="#">7</a>
                <a href="#">8</a>
                <a href="#">9</a>
                <a href="#" style="color: #b5b5b5;">10</a>
                <a href="#">11</a>
                <a href="#">12</a>
                <a href="#">13</a>
                <a href="#">14</a>
                <a href="#">15</a>
                <a href="#">16</a>
                <a href="#" style="color: #b5b5b5;">17</a>
                <a href="#">18</a>
                <a href="#">19</a>
                <a href="#">20</a>
                <a href="#">21</a>
                <a href="#">22</a>
                <a href="#">23</a>
                <a href="#" style="color: #b5b5b5;">24</a>
                <a href="#">25</a>
                <a href="#">26</a>
                <a href="#">27</a>
                <a href="#">28</a>
                <a href="#">29</a>
                <a href="#">30</a>
                <a href="#" style="color: #b5b5b5;">31</a>
                </div>
        </div>

        <div class="c2_6">
            <p class="c2_6_m">6</p>
            <div class="c2_6_d">
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#" style="color: #b5b5b5;">6</a>
                <a href="#" style="color: #b5b5b5;">7</a>
                <a href="#">8</a>
                <a href="#">9</a>
                <a href="#">10</a>
                <a href="#">11</a>
                <a href="#">12</a>
                <a href="#">13</a>
                <a href="#" style="color: #b5b5b5;">14</a>
                <a href="#">15</a>
                <a href="#">16</a>
                <a href="#">17</a>
                <a href="#">18</a>
                <a href="#">19</a>
                <a href="#">20</a>
                <a href="#" style="color: #b5b5b5;">21</a>
                <a href="#">22</a>
                <a href="#">23</a>
                <a href="#">24</a>
                <a href="#">25</a>
                <a href="#">26</a>
                <a href="#">27</a>
                <a href="#" style="color: #b5b5b5;">28</a>
                <a href="#">29</a>
                <a href="#">30</a>
                </div>
        </div>

        <div class="c2_7">
            <p class="c2_7_m">7</p>
            <div class="c2_7_d">
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#" style="color: #b5b5b5;">5</a>
                <a href="#">6</a>
                <a href="#">7</a>
                <a href="#">8</a>
                <a href="#">9</a>
                <a href="#">10</a>
                <a href="#">11</a>
                <a href="#" style="color: #b5b5b5;">12</a>
                <a href="#">13</a>
                <a href="#">14</a>
                <a href="#">15</a>
                <a href="#">16</a>
                <a href="#">17</a>
                <a href="#">18</a>
                <a href="#" style="color: #b5b5b5;">19</a>
                <a href="#">20</a>
                <a href="#">21</a>
                <a href="#">22</a>
                <a href="#">23</a>
                <a href="#">24</a>
                <a href="#">25</a>
                <a href="#" style="color: #b5b5b5;">26</a>
                <a href="#">27</a>
                <a href="#">28</a>
                <a href="#">29</a>
                <a href="#">30</a>
                <a href="#">31</a>
                </div>
        </div>

        <div class="c2_8">
            <p class="c2_8_m">8</p>
            <div class="c2_8_d">
                <a href="#">1</a>
                <a href="#" style="color: #b5b5b5;">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">7</a>
                <a href="#">8</a>
                <a href="#" style="color: #b5b5b5;">9</a>
                <a href="#">10</a>
                <a href="#">11</a>
                <a href="#">12</a>
                <a href="#">13</a>
                <a href="#">14</a>
                <a href="#" style="color: #b5b5b5;">15</a>
                <a href="#" style="color: #b5b5b5;">16</a>
                <a href="#">17</a>
                <a href="#">18</a>
                <a href="#">19</a>
                <a href="#">20</a>
                <a href="#">21</a>
                <a href="#">22</a>
                <a href="#" style="color: #b5b5b5;">23</a>
                <a href="#">24</a>
                <a href="#">25</a>
                <a href="#">26</a>
                <a href="#">27</a>
                <a href="#">28</a>
                <a href="#">29</a>
                <a href="#" style="color: #b5b5b5;">30</a>
                <a href="#">31</a>
                </div>
        </div>

        <div class="c2_9">
            <p class="c2_9_m">9</p>
            <div class="c2_9_d">
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#" style="color: #b5b5b5;">6</a>
                <a href="#">7</a>
                <a href="#">8</a>
                <a href="#">9</a>
                <a href="#">10</a>
                <a href="#">11</a>
                <a href="#">12</a>
                <a href="#" style="color: #b5b5b5;">13</a>
                <a href="#">14</a>
                <a href="#">15</a>
                <a href="#">16</a>
                <a href="#">17</a>
                <a href="#">18</a>
                <a href="#">19</a>
                <a href="#" style="color: #b5b5b5;">20</a>
                <a href="#">21</a>
                <a href="#">22</a>
                <a href="#">23</a>
                <a href="#">24</a>
                <a href="#">25</a>
                <a href="#">26</a>
                <a href="#" style="color: #b5b5b5;">27</a>
                <a href="#">28</a>
                <a href="#">29</a>
                <a href="#" style="color: #b5b5b5;">30</a>
                </div>
        </div>

        <div class="c2_10">
            <p class="c2_10_m">10</p>
            <div class="c2_10_d">
                <a href="#" style="color: #b5b5b5;">1</a>
                <a href="#" style="color: #b5b5b5;">2</a>
                <a href="#" style="color: #b5b5b5;">3</a>
                <a href="#" style="color: #b5b5b5;">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">7</a>
                <a href="#">8</a>
                <a href="#" style="color: #b5b5b5;">9</a>
                <a href="#">10</a>
                <a href="#" style="color: #b5b5b5;">11</a>
                <a href="#">12</a>
                <a href="#">13</a>
                <a href="#">14</a>
                <a href="#">15</a>
                <a href="#">16</a>
                <a href="#">17</a>
                <a href="#" style="color: #b5b5b5;">18</a>
                <a href="#">19</a>
                <a href="#">20</a>
                <a href="#">21</a>
                <a href="#">22</a>
                <a href="#">23</a>
                <a href="#">24</a>
                <a href="#" style="color: #b5b5b5;">25</a>
                <a href="#">26</a>
                <a href="#">27</a>
                <a href="#">28</a>
                <a href="#">29</a>
                <a href="#">30</a>
                <a href="#">31</a>
                </div>
        </div>

        <div class="c2_11">
            <p class="c2_11_m">11</p>
            <div class="c2_11_d">
                <a href="#" style="color: #b5b5b5;">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">7</a>
                <a href="#" style="color: #b5b5b5;">8</a>
                <a href="#">9</a>
                <a href="#">10</a>
                <a href="#">11</a>
                <a href="#">12</a>
                <a href="#">13</a>
                <a href="#">14</a>
                <a href="#" style="color: #b5b5b5;">15</a>
                <a href="#">16</a>
                <a href="#">17</a>
                <a href="#">18</a>
                <a href="#">19</a>
                <a href="#">20</a>
                <a href="#">21</a>
                <a href="#" style="color: #b5b5b5;">22</a>
                <a href="#">23</a>
                <a href="#">24</a>
                <a href="#">25</a>
                <a href="#">26</a>
                <a href="#">27</a>
                <a href="#">28</a>
                <a href="#" style="color: #b5b5b5;">29</a>
                <a href="#">30</a>
                </div>
        </div>

        <div class="c2_12">
            <p class="c2_12_m">12</p>
            <div class="c2_12_d">
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#" style="color: #b5b5b5;">6</a>
                <a href="#">7</a>
                <a href="#">8</a>
                <a href="#">9</a>
                <a href="#">10</a>
                <a href="#">11</a>
                <a href="#">12</a>
                <a href="#" style="color: #b5b5b5;">13</a>
                <a href="#">14</a>
                <a href="#">15</a>
                <a href="#">16</a>
                <a href="#">17</a>
                <a href="#">18</a>
                <a href="#">19</a>
                <a href="#" style="color: #b5b5b5;">20</a>
                <a href="#">21</a>
                <a href="#">22</a>
                <a href="#">23</a>
                <a href="#">24</a>
                <a href="#" style="color: #b5b5b5;">25</a>
                <a href="#">26</a>
                <a href="#" style="color: #b5b5b5;">27</a>
                <a href="#">28</a>
                <a href="#">29</a>
                <a href="#">30</a>
                <a href="#">31</a>
                </div>
        </div>
    </div>

</body>


</html>