<!DOCTYPE html>

<html>

<head>

<link rel="stylesheet" href="2.css">
<meta charset="UTF-8">
  <title>+82 JOOHYE KIM</title>

</head>

<body>

<div class="first">
    <img src="DSCF2192.jpg" alt="introfirst">
</div>
<div class="name">
    <p>JOOHYE KIM</p>
</div>
<div class="second">
    <ol>
        <li><a href="https://www.instagram.com/_292.c/" target="_blank">@_292.c</a></li>
        <li><a href="https://www.instagram.com/97__16/" target="_blank">@97__16</a></li>
        <li>　</li>
        <li>+82 1997.01.06</li>
        <li>　</li>
        <li>HONGIK UNIV.</li>
        <li>DEPT. OF FINE ART & DESIGN</li>
        <li>TEXTILE ART & FASHION DESIGN</li>
    </ol>
</div>
</body>

</html>